.card1 {
  border-radius: 8px;
  background: #ffffff;
  width: auto;
  height: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add box shadow */
  border: 0.5px solid var(--Stroke, #dfe4ea);
  align-items: center;
}

.card2 {
  border-radius: 8px;
  background: #ffffff;
  width: auto;
  height: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add box shadow */
  border: 0.5px solid var(--Stroke, #dfe4ea);
}

.card3 {
  background: #ffffff;
  width: auto;
  height: auto;
  border: 0.5px solid var(--Stroke, #dfe4ea);
}

.card4 {
  border-radius: 8px;
  background: #ffffff;
  width: auto;
  height: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add box shadow */
  border: 0.5px solid var(--Stroke, #dfe4ea);
}

.card5 {
  border-radius: 8px;
  background: #ffffff;
  width: auto;
  height: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add box shadow */
  border: 0.5px solid var(--Stroke, #dfe4ea);
}

.card6 {
  border-radius: 8px;
  background: #ffffff;
  width: auto;
  height: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add box shadow */
  border: 0.5px solid var(--Stroke, #dfe4ea);
}

.heading1 {
  font-size: 36px;
}

.heading_user {
  font-size: 24px;
}

.heading_announcement {
  font-size: 28px;
}

.announcement_title {
  font-size: 20px;
}

.announcement_date {
  font-size: 14px;
  color: grey;
}

.announcement_text {
  font-size: 14px;
}

.modal {
  border-radius: 8px;
  background: #ffffff;
  width: 60vw;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add box shadow */
}

.modal_tx_title {
  font-size: 25px;
}

.modal_tx_time {
  font-size: 14px;
}

.modal_tx_paragraph {
  font-size: 17px;
}

.btn {
  border-radius: 6px;
  background: var(--Blue, #66a2dc);
}

.btn_tx {
  color: var(--Primary-Text-Color, #ffffff);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.create_button {
  border-radius: 15px;
  background: var(--Blue, #66a2dc);
}

.upload_button {
  border-radius: 8px;
  background: var(--Blue, #66a2dc);
}

.delete_button {
  border-radius: 8px;
  background: var(--Blue, #cb4c4b);
}
